/****GLOBAL****/
html{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 2.5rem;
}

h2, .link a{
    font-size: 1.6rem;
}

header{
    max-width: 100vw;
    max-height: 100px;
    display: flex;
    border-bottom: 1px solid yellow;
    background-color: black
}

body{
    
    color: white;
}
main{
    background-color: rgb(23, 23, 23);
    line-height: 1.5;
}
footer{
    background-color: yellow;
    color: white;
    border-top: 1px solid yellow;
    justify-content: space-between;
}

/***Menu***/
.indetation{
    margin: 30px 8vw;
    font-family: cursive;

}

.link{
    margin: 0 15px 0 auto;
    padding-top: 25px;
    display: flex;
    
}

.link a{
    margin-right: 35px;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.link a:hover{
    
}

#sf:hover{
    color: #a00;
    border-bottom: 2px solid #B3995D;
}

#lol:hover{
    color: rgba(58,189,212,255);
    border-bottom: 2px solid #f4ac59;
}

#in:hover{
    color:var(--accent-color-fill, #0066cc);
    border-bottom: 2px solid white;
}
/***Imagem de Logo***/
.circle{ 
    width: 200px;
    height: 200px;
    border-radius: 15%;

    margin: 25% 10% 0 48% ;
}
.circle:hover{
    width: 210px;
    height: 210px;
    margin: 23% -10px 0 46%;
}

/******/

.flexbox{
    display: flex;
    
}

.about{
    margin: 2% 5% 5vh 20%;
    font-size: 18px;
    text-align: justify;
}

.box{
    min-height: 30vh;
    width: 9.5vw;
    min-width: 7vh;
    background-color: yellow;
    border-radius: 10%;
    margin:3% 0 10% 2%;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 3px 3px 100px rgb(253, 253, 90,0.2);
    font-family: monospace;
    font-size: 14px;
}
.box2{
    min-height: 30vh;
    width: 9.5vw;
    min-width: 7vh;
    background-color: yellow;
    border-radius: 10%;
    margin:3% 2% 10% 0;
    color: black;
    text-align: center;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    box-shadow: 3px 3px 100px rgba(253, 253, 90, 0.200);
    font-family: monospace;
    flex-direction:column;
    word-break:break-all;
    font-size: 14px;
}

.box2-center{
    min-height: 30vh;
    width: 9.5vw;
    min-width: 7vh;
    background-color: yellow;
    border-radius: 10%;
    margin:3% 2% 10% 0;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 3px 3px 100px rgba(253, 253, 90, 0.200);
    font-family: monospace;
    flex-direction:column;
    font-size: 14px
}

.tags{
    align-self: flex-start;
}
.tags img{
    width: 30px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    margin-left: 10px;
}

.container{
    display: flex;
    flex-direction: column;
}

.container2{
    display: flex;
    flex-direction: column;
    
}
 
.space{
    justify-content: space-between;
    margin-top: 5%;
    
}

.container2 h2{
    align-self: flex-start;
}

.container h2{
    align-self: flex-end;
}

footer nav a{
    color: white;
    background-color: yellow;
    margin-left: 1vw ;
}

footer form{
    margin-right: 1vw;
}

footer form button{
    background-color: black;
    color: white;
    padding: 7px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

footer form button:hover{
    color: yellow;
}

/*Media queriesx

@media screen and (max-width:820px) {
    .link a{
        margin: 0;
    }
}

*/